<%
  # Due to AJAX limitations, variables are stored in this array packet.
  # Do not remove this.
  @col_names = @values[:col_names]
  @row_names = @values[:row_names]
  @query_results = @values[:query_results]
  @matrix = @values[:matrix]
%>

<p class="notice"> <%= notice %> </p>
<p class="alert"> <%= alert %> </p>
<h1> Sales Analytics </h1>

<br />
<%= form_for "filter", url: "analytics", :method=> "get" do |f| %>
<%= f.collection_select :category_id, @cat_obj, :id, :unique_name, {:include_blank => "All", selected: @cat}%>
<%= f.submit "Run"%>
<% end %>
<table class = "container">
<%= button_to "Run", "analytics", :method=> :get %>
<%= button_to "Run", "analytics", :method=> :get, style: "float: right;" %>
  <thead>
    <tr>
      <th> State </th>
      <!-- @col_names is a list of columns -->

    <!-- Sort Indexes -->
    <%
       # Display header in sorted order.
       @col_sum_a.each_with_index do |col, ind|
    %>
        <th class='<%= "col" + ind.to_s %>' style="font-size:11px;" ><%= truncate(@col_names[col[1]]["unique_name"], length: 13)%> <br /> <%= "($" + col[0].to_s + ")" %></th>
       <%end%>

    </tr>
  </thead>
  <tbody>


    <% @row_sum_a.each_with_index do |rs, rsc| %>
      <% indrs = rs[1] %>
      <tr id='<%= @r_count%>'>

        <!-- Get the state abbreviation and display it in the box. -->
        <td> <%= @matrix[indrs].first["state"] %> <br /><%=" ($" + rs[0].to_s + ")" %> </td>

        <% @col_sum_a.each_with_index do |cs, rcs| %>
          <% indcs = cs[1] %>
          <td id = '<%= rsc.to_s + "," + rcs.to_s %>' class = '<%= "col" + rcs.to_s %>'>
            <!-- c.to_a[2][1] is the total sales of that item by state -->
            <%= @matrix[indrs][indcs]["total"].to_i %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Run", "analytics", :method=> :get, style: "float: left;" %>
<%= button_to "Run", "analytics", :method=> :get, style: "float: right;" %>
