<%# Insert body query here. %>
<%# Add another form %>
<%# TODO: Add form for filters
    Page different
%>
<%# TODO: Add form for the pages
    Will have all @ variables as hidden fields.
    @page += 1
    submit button displays is next
%>
<%
  # Due to AJAX limitations, variables are stored in this array packet.
  # Do not remove this.
  @state_or_cust = @values[:soc]
  @alpha_or_top = @values[:aot]
  @row_page = @values[:row_page]
  @col_page = @values[:col_page]
  @col_names = @values[:col_names]
  @row_names = @values[:row_names]
  @query_results = @values[:query_results]
%>
<%= @state_or_cust %>
<%= @alpha_or_top %>
<%= @row_page %>
<%= @col_page %>
<h1> Sales Analytics </h1>
<!-- Hidden form for keeping track of the page's displayed rows -->
<%= form_for :filter_options, url: "analytics", :method=> "post", html: {class: "filter_options"} do |f| %>
  <%= hidden_field_tag :row_page, @row_page.to_i + 1 %>
  <%= hidden_field_tag :col_page, @col_page.to_i %>
  <%= hidden_field_tag :state_or_cust, @state_or_cust %>
  <%= hidden_field_tag :alpha_or_top, @alpha_or_top %>
  <%= f.submit "Next 20 Records" %>
<% end %>

<!-- Hidden form for keeping track of the page's displayed columns -->
<<<<<<< HEAD
<%= form_for :filter_options, url: "analytics", :method=> "post", html: {class: "filter_options"} do |f| %>
  <%= hidden_field_tag :col_page, @col_page.to_i + 1 %>
  <%= hidden_field_tag :row_page, @row_page.to_i %>
=======
<%= form_for :filter_options, url: "analytics", :method=> "post" do |f| %>
  <%= hidden_field_tag :col_page, @col_page + 1 %>
>>>>>>> a2dc9556a37b85645f3a4f45a4f7073aeeb1db91
  <%= hidden_field_tag :state_or_cust, @state_or_cust %>
  <%= hidden_field_tag :alpha_or_top, @alpha_or_top %>
  <%= f.submit "Next 10 Columns" %>
<% end %>

<!-- Form for the user to select filter options -->
<<<<<<< HEAD
<%= form_for :filter_options, url: "analytics", :method=> "post", html: {class: "filter_options"} do |f| %>
  <%= hidden_field_tag :row_page, @row_page.to_i %>
  <%= hidden_field_tag :col_page, @col_page.to_i %>
=======
<%= form_for :filter_options, url: "analytics", :method=> "post" do |f| %>
  <%= hidden_field_tag :row_page, @row_page %>
  <%= hidden_field_tag :col_page, @col_page %>
>>>>>>> a2dc9556a37b85645f3a4f45a4f7073aeeb1db91
  <%= f.label "Sort by: " %>
  <%= f.select :state_or_cust, [['Customer Name', 'customer'],['State','state']] %>
  <%= f.select :alpha_or_top, [['Alphabetical','alpha'],['Top Sales','top']] %>
  <%= f.submit "Run Query" %>
<% end %>
<!-- Next button if more exist -->
<table class = "container">
  <thead>
    <tr>
      <!-- Depending on the filter, the first column should be 'Customer' or 'State' -->
      <th> <%= @state_or_cust %> </th>
      <!-- @col_names is a list of columns -->
      <% @col_names.each do |col| %>
        <th><%= truncate(col.unique_name, length: 13) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
