<%
  # Due to AJAX limitations, variables are stored in this array packet.
  # Do not remove this.
  @state_or_cust = @values[:soc]
  @alpha_or_top = @values[:aot]
  @row_page = @values[:row_page]
  @col_page = @values[:col_page]
  @col_names = @values[:col_names]
  @row_names = @values[:row_names]
  @query_results = @values[:query_results]
%>
<h1> Sales Analytics </h1>
<!-- Hidden form for keeping track of the page's displayed rows -->
<%= form_for :filter_options, url: "analytics", :method=> "post", html: {class: "filter_options"} do |f| %>
  <%= hidden_field_tag :row_page, @row_page.to_i + 1 %>
  <%= hidden_field_tag :col_page, @col_page.to_i %>
  <%= hidden_field_tag :state_or_cust, @state_or_cust %>
  <%= hidden_field_tag :alpha_or_top, @alpha_or_top %>
  <%= f.submit "Next 20 Records" %>
<% end %>

<!-- Hidden form for keeping track of the page's displayed columns -->
<%= form_for :filter_options, url: "analytics", :method=> "post", html: {class: "filter_options"} do |f| %>
  <%= hidden_field_tag :col_page, @col_page.to_i + 1 %>
  <%= hidden_field_tag :row_page, @row_page.to_i %>
  <%= hidden_field_tag :state_or_cust, @state_or_cust %>
  <%= hidden_field_tag :alpha_or_top, @alpha_or_top %>
  <%= f.submit "Next 10 Columns" %>
<% end %>

<!-- Form for the user to select filter options -->
<%= form_for :filter_options, url: "analytics", :method=> "post", html: {class: "filter_options"} do |f| %>
  <%= hidden_field_tag :row_page, @row_page.to_i %>
  <%= hidden_field_tag :col_page, @col_page.to_i %>
  <%= f.label "Sort by: " %>
  <%= f.select :state_or_cust, [['Customer Name', 'customer'],['State','state']] %>
  <%= f.select :alpha_or_top, [['Alphabetical','alpha'],['Top Sales','top']] %>
  <%= f.submit "Run Query" %>
<% end %>
<!-- Next button if more exist -->
<table class = "container">
  <thead>
    <tr>
      <!-- Depending on the filter, the first column should be 'Customer' or 'State' -->
      <th> <%= @state_or_cust %> </th>
      <!-- @col_names is a list of columns -->
      <% @col_names.each do |col| %>
        <th><%= truncate(col.unique_name, length: 13) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @query_results.each_slice(10) do |r| %>
      <% if @state_or_cust == "customer" %>
        <tr>
          <!-- Get the customer's name and display it in the box. -->
          <td> <%= r.first.first[1] %> </td>
          <% r.each do |c| %>
            <td>
              <!-- c.to_a[2][1] is the price of the item and c.to_a[3][1] is the
                   quantity.
              -->
              <%= c.to_a[2][1].to_i * c.to_a[3][1].to_i %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
