<%
  # Due to AJAX limitations, variables are stored in this array packet.
  # Do not remove this.
  @col_names = @values[:col_names]
  @row_names = @values[:row_names]
  @query_results = @values[:query_results]
%>
<p class="notice"> <%= notice %> </p>
<p class="alert"> <%= alert %> </p>
<h1> Sales Analytics </h1>

<table class = "container">
  <thead>
    <tr>
      <!-- Depending on the filter, the first column should be 'Customer' or 'State' -->
      <th> State </th>
      <!-- @col_names is a list of columns -->
      <% @col_names.each do |col| %>
        <th><%= truncate(col.unique_name, length: 13) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @query_results.each_slice(@col_names.length) do |r| %>
      <tr>
        <!-- Get the state abbreviation and display it in the box. -->
        <td> <%= r.first.first[1] %> </td>
        <% r.each do |c| %>
          <td>
            <!-- c.to_a[2][1] is the total sales of that item by state -->
            <%= c.to_a[2][1].to_i %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
