<%= javascript_include_tag "analytics" %>
<%= javascript_tag do %>
  us_table = '<%=  raw j @us_table_js.to_json %>';
  col_sum_a = '<%=  raw j @col_sum_a_js.to_json %>';
  row_sum_a = '<%=  raw j @row_sum_a_js.to_json %>';
  list_cols = '<%=  raw j @list_cols.to_json %>';
<% end %>
<div id = "refresh_result">
</div>
<div>
  <%= render "analytics/gen" %>
</div>
