<%= javascript_include_tag "browse" %>
<div id="load">
  <div>G</div>
  <div>N</div>
  <div>I</div>
  <div>D</div>
  <div>A</div>
  <div>O</div>
  <div>L</div>
</div>

<div class="sidenav">
  <div style="padding-left: 4%">
  <a href="javascript:void(0)" class="closebtn">&times;</a>
<%= form_for :search_form, html: {id: "search_form", method: "get"}, action: :search do |f|%>
  <%# Generate categories %>

    <div>
    <br />
    <%= f.label "Search: " %> <br />
    <%= f.text_field :search_bar, id: :search_bar_b %>
    </div>
    <input class="check_box_b" type="radio" value="-1" name="search_form[category]" id="search_form_category_0">
    <label for="search_form_category_0">All Categories</label> <br /> <br />
    <%= f.collection_radio_buttons :category, Category.all, :id, :unique_name, :include_hidden => false do |m| %>
    <%= m.radio_button class: "check_box_b"%> <%= m.label %> <br />
    <% end %>
    <br />
  <% end %>
    </div>
  </div>

<div class="openbtn">
  <a href = "javascript:void(0)">
  <span class="glyphicon glyphicon-search" aria-hidden="true">
  </span>
</a>
</div>
<div class="main container">
<h1> Products Browsing </h1>
<h2 style="color:gray;"> Click Rows to Add to Cart </h2>
<table class = "container">
  <thead>
    <tr>
      <th>Name</th>
      <th>SKU</th>
      <th>Price ($)</th>
    </tr>
  </thead>
  <tbody id="search_result">
    <%= render "browse/search" %>
  </tbody>
</table>
</div>
