<div class = "container">
<h1> Categories </h1>
<table class = "container">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
<% @categories.order('unique_name ASC').each do |cat| %>
  <div class="checker">
  <tr>
    <%= form_for :category, url: "categories/" + String(cat.id), :method => "put" do |f| %>
    <td class= "blue_input container_pop"> <%= f.text_field :unique_name,  value: cat.unique_name%></td>
    <td class= "blue_input container_pop"><%= f.text_area :desc,  value: cat.desc%></td>
    <td class = "blue_input container_pop">
      <ul>
      <li>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.submit "Update", class: "update_button" %>
      </li>
    <% end %>
      <li>
      <%# Note, calls a lot of SQL queries for each cat. %>
      <% if cat.products.first.nil? %>
      <%= form_for :category, url: "categories/" + String(cat.id), :method => "delete" do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.submit "Delete", class: "delete_button" %>
      <% end %>
    <% end %>
    <% end %>
      </li>
      </ul>
    </td>
  </tr>
  <tr>
  <%= form_for @insert_category, url: "categories", :method => "post" do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <td class= "blue_input container_pop"> <%= f.text_field :unique_name %></td>
    <td class= "blue_input container_pop"><%= f.text_area :desc %></td>
    <td class= "blue_input"> <%= f.submit "Insert", class: "insert_button" %> </td>
    <% end %>
  </tr>
</div>
  </tbody>
</table>
</div>
