<%= javascript_include_tag "products" %>
<div id="load">
  <div>G</div>
  <div>N</div>
  <div>I</div>
  <div>D</div>
  <div>A</div>
  <div>O</div>
  <div>L</div>
</div>

<div class="sidenav">
  <div style="padding-left: 4%">
  <a href="javascript:void(0)" class="closebtn">&times;</a>
<%= form_for :search_form, html: {id: "search_form", method: "get"}, action: :search do |f|%>
  <%# Generate categories %>

  <div>
  <br />
  <%= f.label "Search: " %> <br />
  <%= f.text_field :search_bar, id: :search_bar %>
  </div>
  <input class="check_box" type="radio" value="-1" name="search_form[category]" id="search_form_category_0">
  <label for="search_form_category_0">All Categories</label> <br /><br />
  <%= f.collection_radio_buttons :category, Category.all, :id, :unique_name, :include_hidden => false do |m| %>
  <%= m.radio_button class: "check_box"%> <%= m.label %> <br />
  <% end %>
  <br />
<% end %>
  </div>
</div>

<div class="openbtn">
  <a href = "javascript:void(0)">
  <span class="glyphicon glyphicon-search" aria-hidden="true">
  </span>
</a>
</div>
<div class="main container">
<h1> Products Owner Browsing </h1>
<table class = "container">
  <thead>
    <tr>
      <th>Name</th>
      <th>SKU</th>
      <th>Price ($)</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= form_for @insert_product, url: "products", :method=> "post" do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <td class = "blue_input container_pop" style="padding-left: 1%;"> <%= f.text_field :unique_name %> </td>
      <td class = "blue_input container_pop"> <%= f.text_field :sku %> </td>
      <td class = "blue_input container_pop"> <%= f.text_field :price %> </td>
      <td class = "blue_input container_pop">
        <%= f.collection_select :category_id, Category.all, :id, :unique_name, {selected: 1} %>
      </td>
      <td class= "blue_input container_pop"> <%= f.submit "Insert", class: "insert_button" %> </td>
      <% end %>
    </tr>
  </tbody>
  <tbody id="search_result">
    <%= render "products/search" %>
  </tbody>
</table>
</div>
