<div id="load">
  <div>G</div>
  <div>N</div>
  <div>I</div>
  <div>D</div>
  <div>A</div>
  <div>O</div>
  <div>L</div>
</div>
<%= form_for :search_form, html: {id: "search_form", method: "get"}, action: :search do |f|%>
  <%# Generate categories %>

  <%= f.label "Search: " %>
  <%= f.text_field :search_bar, id: :search_bar %>
  <br />
  <%= f.collection_check_boxes :category, Category.all, :id, :unique_name, :include_hidden => false do |m| %>
  <%= m.check_box class: "check_box"%> <%= m.label %>
  <% end %>
  <br />
<% end %>
<br />
<table class = "container">
  <thead>
    <tr>
      <th>Name</th>
      <th>SKU</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody id="search_result">
    <%= render "products/search" %>
  </tbody>
</table>
