<!DOCTYPE html>
<html>
  <head>
    <title>CSE135 Expert Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
      <li> <%= link_to "Home", controller: "/home", action: "index" %> </li>
      <% if user_signed_in? %>
        <li> <%= link_to "Products", controller: "/products", action: :index %> </li>
        <li> <%= link_to "Cart", controller: "/orders", action: :index%> </li>
        <li style="float:right"> <%= link_to "Sign Out", destroy_user_session_path, :method=>:delete%> </li>
          <% if current_user.owner? %>
            <li> <%= link_to "Categories", controller:"/categories", action:"index"%> </li>
          <% end %>
      <% else %>
        <li> <%= link_to "Sign In", new_user_session_path %> </li>
      <% end %>
    </ul>
  </nav>
    <p class="notice"> <%= notice %> </p>
    <p class="alert"> <%= alert %> </p>
    <%= yield %>
  </body>
</html>
